<a href="https://colab.research.google.com/github/AbdulRehman2106/Python-Assignment-6/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#                           1. Using Self

class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display(self):
        print(f"\nStudent Name: {self.name}")
        print(f"\nStudent Marks: {self.marks}")

student1 = Student("Abdul Rehman", 85)
student1.display()

Student Name: Abdul Rehman

Student Marks: 85

In [4]:
#                           2. Using CLS


class Counter:
    count = 0

    def __init__(self):
        Counter.count += 1

    @classmethod
    def display_count(cls):
        print(f"\nTotal Objects Created: {cls.count}\n")

c1 = Counter()
c2 = Counter()
c3 = Counter()
c4 = Counter()
c5 = Counter()
Counter.display_count()

Total Objects Created: 5

In [5]:
#                           3. Public Variables and Methods


class Car:
    def __init__(self, brand ):
        self.brand = brand

    def start(self):
        print(f"\n{self.brand} Is starting...\n")

my_car = Car("Lamborghini")
print(my_car.brand)
my_car.start()

Lamborghini

Lamborghini Is starting...

In [7]:
#                           4. Class Variables and Class Methods


class Bank:
    bank_name = "ABC Bank"

    @classmethod
    def change_bank_name(cls,name):
        cls.bank_name = name

bank1 = Bank()
bank2 = Bank()
Bank.change_bank_name("Global Bank")
print("\n",bank1.bank_name)
print("\n",bank2.bank_name)

 Global Bank

 Global Bank

In [9]:
#                           5. Static Methods


class MathUtlis:
    @staticmethod
    def add(a , b):
        return a + b

print("\nSum: ", MathUtlis.add(25,10))

Sum:  35

In [10]:
#                           6. Constructor and Destructors


class Logger:
    def __init__(self):
        print("\nLogger Object Created...")

    def __del__(self):
        print("\nLogger Objects Destroyed...")

log = Logger()
del log

Logger Object Created...

Logger Objects Destroyed...

In [11]:
#                           7. Access Modifiers: Public, Protected, Private


class Employee:
    def __init__(self,name,salery,ssn):
        self.name = name
        self._salery = salery
        self.__ssn = ssn

emp = Employee("Abdul Rehman", 10000, 123-456-789)
print("\nPublic:",emp.name)
print("\nProtected:",emp._salery)

try:
    print("\nPrivate:", emp.__ssn)
except AttributeError:
    print("\nPrivate: Cannot Access Directly")

Public: Abdul Rehman

Protected: 10000

Private: Cannot Access Directly

In [12]:
#                           8. The super() Function


class Person:
    def __init__(self, name):
        self.name = name

class Teacher(Person):
    def __init__(self, name, subject):
        super().__init__(name)
        self.subject = subject

t = Teacher("Sir Abdul Rehman","Math")
print("\n",t.name,"----",t.subject)

 Sir Abdul Rehman ---- Math

In [13]:
#                           9. Abstract Classes and Methods


from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

r = Rectangle(5,7)
print("\nArea:", r.area())

Area: 35

In [14]:
#                           10. Instance Methods


class Dog:
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed

    def bark(self):
        print(f"\n{self.name} Is Barking...")

dog = Dog("Tommy", "Labrador")
dog.bark()

Tommy Is Barking...

In [15]:
#                           11. Class Methods


class Book:
    total_books = 0

    @classmethod
    def increment_book_count(cls):
        cls.total_books += 1

Book.increment_book_count()
Book.increment_book_count()
print("\nTotal Books: ", Book.total_books)

Total Books:  2

In [16]:
#                            12. Static Methods


class TemperatureConverter:
    @staticmethod
    def celsius_to_fahrenheit(c):
        return (c * 9/5) + 32

print("\nFahrenheit:", TemperatureConverter.celsius_to_fahrenheit(37))

Fahrenheit: 98.6

In [17]:
#                            13. Composition

class Engine:
    def start(self):
        print("\n Engine Started..")

class CarWithEngine:
    def __init__(self, engine):
        self.engine = engine

    def start_car(self):
        self.engine.start()

e = Engine()
car = CarWithEngine(e)
car.start_car()

 Engine Started..

In [18]:
#                             14. Aggregation


class Department:
    def __init__(self, name, employee):
        self.name = name
        self.employee = employee

class EmployeeForDept:
    def __init__(self,name):
        self.name = name

emp = EmployeeForDept("Abdul Rehman")
dept = Department("HR", emp)
print("\nDepartment:", dept.name, "\nEmployee:", dept.employee.name)

Department: HR
Employee: Abdul Rehman

In [19]:
#                              15. Method Resolution Order (MRO)


class A:
    def show(self):
        print("A")

class B(A):
    def show(self):
        print("B")

class C(A):
    def show(self):
        print("C")

class D(B, C):
    pass

d = D()
d.show()
print("MRO:",[cls.__name__ for cls in D.__mro__])

B
MRO: ['D', 'B', 'C', 'A', 'object']

In [20]:
#                               16. Function Decorators


def log_function_call(func):
    def wrapper():
        print("\nFunction Is Being Called")
        return func()
    return wrapper

@log_function_call
def say_hello():
    print("\nHello Everyone!!")

say_hello()

Function Is Being Called

Hello Everyone!!

In [21]:
#                               17. Class Decorators


def add_gretting(cls):
    cls.greet = lambda self: "\nHello Form Decorator..!"
    return cls

@add_gretting
class PersonWithGreeting:
    pass

p = PersonWithGreeting()
print(p.greet())

Hello Form Decorator..!

In [22]:
#                              18. Proporty Decorators


class Product:
    def __init__(self, price):
        self._price = price

    @property
    def price(self):
        return self._price

    @price.setter
    def price(self, value):
        self._price = value

    @price.deleter
    def price(self):
        del self._price

prod = Product(100)
print("\nPrice:", prod.price)
prod.price = 200
print("\nUpdated Price:", prod.price)
del prod.price

Price: 100

Updated Price: 200

In [23]:
#                               19. __call__ and callable


class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, value):
        return value * self.factor

m = Multiplier(10)
print("\nIs Callable: ", callable(m))
print("\nCall Result: ", m(15))

Is Callable:  True

Call Result:  150

In [25]:
#                               20. Custom Exception


class InvalidAgeError(Exception):
    pass

def check_age(age):
    if age < 18:
        raise InvalidAgeError("Age Must Be Least 18+...")
    print("\nAge Is Valid")

try:
    check_age(17)
except InvalidAgeError as e:
    print("\nError: ", e)

Error:  Age Must Be Least 18+...

In [26]:

#                               21. Custom Iterable


class Countdown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        if self.current < 0:
            raise StopIteration
        val = self.current
        self.current -= 1
        return val

for num in Countdown(10):
    print("\n",num)

 10

 9

 8

 7

 6

 5

 4

 3

 2

 1

 0